<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>精油產品詢問</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container" style="margin-top: 50px">
      <div class="card">
        <div class="card-header">
          <ul class="nav nav-pills w-100">
            <li class="nav-pill active">
              <a class="nav-link">精油產品詢問</a>
            </li>
            <li class="nav-pill ml-auto">
              <a class="nav-link active" href="/message/add">新增詢問</a>
            </li>
            <li class="nav-pill ml-auto">
              <a
                class="nav-link"
                href="https://7web-81-yangcici1010.vercel.app/midproj_81"
                >回到首頁</a
              >
            </li>
          </ul>
        </div>
        <div class="card-body">
          <% if(data.length) { %>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">姓名</th>
                <th scope="col">訊息</th>
                <th width="200px">操作</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i = 0; i< data.length; i++) { %>
              <tr>
                <th scope="row"><%= (i+1) %></th>
                <td><%= data[i].name%></td>
                <td><%= data[i].message%></td>
                <td>
                  <a
                    class="btn btn-success edit"
                    href="/message/edit/<%=data[i].id%>"
                    >編輯</a
                  >
                  <a
                    class="btn btn-danger delete"
                    onclick="return alert('你要確定欸?')"
                    href="/message/delete/<%=data[i].id%>"
                    >刪除</a
                  >
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
          <% } %>

          <!-- if result is empty -->
          <% if(!data.length) { %>
          <p class="text-center">沒有任何詢問</p>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
